@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Wypożyczalnia samochodów Mobilek</h1>
    <p class="lead">Witamy na stronie wypożyczalni samochodów Mobilek. Znajdziesz tu najlepsze samochody po najniższych cenach.</p>
    <p><a href="~/samochodies/WidokKlienta" class="btn btn-primary btn-lg">Zobacz nasze samochody &raquo;</a></p>
    <p><a class="btn btn-default" href="~/samochodies/WyszukajSamochod_klient">Wyszukaj samochód &raquo;</a></p>
</div>

